@media screen and (max-width: 768px) {
    .lapmenu {
        display: flex; /* Show the buttons on small screens */
    }
    .top-lapmenu {
      display: none; /* Hide the buttons on small screens */
    }
    
}

@media (min-width: 769px) and (max-width: 1180px) {
    .lapmenu {
        display: none; /* Show the buttons on larger screens */
    }

    .top-lapmenu{
        display: flex; /* Show the buttons on larger screens */
    }
    
  
}

@media (min-width: 1181px) {
    .lapmenu {
        display: flex; /* Show the buttons on larger screens */
    }

    .top-lapmenu{
        display: none; /* Hide the buttons on larger screens */
    }
}