

@media screen and (max-width: 768px) {
    .lapmenu {
        display: flex; /* Show the buttons on small screens */
    }
    .top-lapmenu {
      display: none; /* Hide the buttons on small screens */
    }

      .form-description-list {
        list-style-type: none;
        position: relative;
    }

    .form-description-list::before {
        content: "";
        background: url('../../assets/images/icons/What Can We Move-icon.webp');
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
        left: 0;
        color: #4caf50;
    }

    .slick-next.slick-arrow::before {
        display: none !important;
    }

    .slick-prev.slick-arrow::before {
        display: none !important;

    }
    .slick-next{
        right: 0px !important;
    }
    .slick-prev{
        left: 0px !important;
    }

}